.container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../Images/Background_mobile.jpg');
}

.login-container {
  width: 90%;
  max-width: 320px;
  padding: 20px;
  gap: 40px;
  border-radius: 16px;
  opacity: 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-img {
  width: 110px;
}
.label {
  font-family: 'Inter';
  color: #333333;
  font-size: 14px;
}
.input-container {
  border: 1px solid #64748b;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  margin-top: 5px;
}
.input {
  outline: none;
  border: none;
}
.show-password {
  color: #333333;
  font-weight: 400;
  font-size: 12px;
}
.checkbox {
  height: 20px;
}
.show-pass-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login-btn {
  margin-top: 10px;
  background-color: #b3b3b3;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.active-login-btn {
  background-color: #088c03;
  margin-top: 10px;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.error-msg {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #ef4444;
  margin: 5px;
}
.credentials-container {
  background-color: #b3b3b3;
  padding: 8px;
  border-radius: 10px;
  align-self: flex-end;
  font-size: 10px;
  font-weight: bold;
  margin-top: -30px;
}
.copy-icon {
  height: 15px;
  cursor: pointer;
}
.copy-usdername {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url('../../Images/Background_large.png');
  }
}
