.home-container {
  height: 100vh;
  background: #ffffff;
}
.categories-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 20px 20px;
  border: 2px solid #d1d5db;
  border-top-width: 0px;
}
.cat-icon-container {
  background: #f7f7f7;
  border-radius: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-cat-icon-container {
  background-color: #088c03;
  border-radius: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-items {
  list-style-type: none;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  cursor: pointer;
  text-decoration: none;
}
.active-icon {
  color: #ffffff;
}
.cat-para {
  color: #19191999;
  font-size: 14px;
  margin-top: 8px;
}
.active-cat-para {
  font-size: 16px;
  margin-top: 8px;
  color: #088c03;
}

.fruits-heading {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #191919;
  gap: 15px;
}
.view-all-para {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #088c03;
}
.products-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.products-items-container {
  margin-top: -10px;
  padding: 15px;
  width: 100%;
}
.products-container {
  display: flex;
  overflow-x: auto;
  width: 110%;
  align-items: center;
  margin-top: 0px;
}
.product-item-container {
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  list-style-type: none;
  margin: 10px;
  height: 210px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-image {
  height: 70px;
  border-radius: 5px;
  width: 120px;
  object-fit: cover;
}
.product-details {
  padding: 5px;
  text-align: left;
  font-size: 14px;
}
.product-heading {
  margin: 5px 0px 5px 0px;
  font-size: 10px;
}
.product-price {
  color: #808080;
  margin: 5px 0px 5px 0px;
}
.price-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}
.add-btn {
  border: 1px solid #088c03;
  background-color: transparent;
  color: #088c03;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.add-btn-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.plus-btn {
  cursor: pointer;
}
.header-container {
  display: none;
  position: sticky;
  top: 0;
}
.logo-img {
  width: 80px;
}
.nav-links {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #333333;
  text-decoration: none;
  font-size: 14px;
}
.logout-nav-link-lg {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-nav-links-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.active-nav-link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #088c03;
  text-decoration: underline;
}
.home-container-lg {
  display: flex;
}
.footer-lg {
  display: none;
  background-color: #003f00;
  padding: 30px;
}
.footer-card {
  width: 555px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.social-media-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.media-icon {
  height: 30px;
}
.footer-heading {
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.footer-para {
  color: #ffffff;
  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.footer-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .categories-container {
    display: none;
  }
  .header-container {
    display: flex;
    background-color: #d8d8d839;
    backdrop-filter: blur(10px);
    padding: 10px 30px 10px 30px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
  }
  .products-items-container {
    width: 75%;
  }
  .mobile-navigation-container {
    display: none;
  }
  .footer-lg {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}
